@import "/styles/_variables.scss";

.inputWrapper {
    padding: 10px;
}

.label {
    margin-bottom: 10px;
}
.input {
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid $color-gray;
    letter-spacing: 0.2px;
    cursor: pointer;
    &:disabled {
        border: 1px solid $color-gray;
        background: $color-gray;
    }
    &:active {
        border: 1px solid $color-gray;
    }
    &:hover {
        border: 1px solid $color-blue;
    }
    &:focus {
        border: 1px solid $color-blue;
    }
}

.activeInput-true {
    border: 1px solid $color-blue;
}
.errorMessage {
    color: $color-red;
    position: absolute;
    font-size: 12px;
    margin-top: 90px;

    &:active {
        border: 1px solid $color-red;
    }
}
