@import "/styles/_variables.scss";

.inputWrapper {
    padding: 10px;
}

.label {
    margin-bottom: 10px;
}
.input {
    width: 250px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid $color-gray;
}
