@import "/styles/_variables.scss";
@import "./styles/_breakpoints.scss";

.container {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 5px;
}
.heading {
    background: $color-ligth-gray-heading;
    border-radius: 15px;
    padding: 20px;
}
