@import "/styles/_variables.scss";
@import "./styles/_breakpoints.scss";

.wrapper {
    max-width: $page-max-width;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    @include max-lg {
        justify-content: center;
        .footerLogo {
            justify-content: center;
        }
    }

    .footerContainer {
        height: 400px;
        display: flex;
        justify-content: center;
        margin-top: 50px;
        @include max-sm {
            justify-content: unset;
            height: fit-content;
            margin-bottom: 70px;
        }
        .columnContainer {
            padding: 10px;
            display: flex;
            @include max-lg {
                flex-direction: column;
            }
        }
    }
}
