@import "/styles/_variables.scss";

.container {
    max-width: $page-max-width;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}
