@import "/styles/_variables.scss";

.wrapper {
    max-width: $page-max-width;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    .footerLogo {
        display: flex;
        align-items: flex-start;
    }
    .footerContainer {
        height: 400px;
        display: flex;
        justify-content: center;
        margin-top: 50px;
        .columnContainer {
            padding: 10px;
            display: flex;
        }
    }
}
