@import '/styles/_variables.scss';

.wrapper {
    max-width: $page-max-width;
    display: flex;
    flex-direction: column;
    .footerLogo {
        display: flex;
        align-items: flex-start;
    }
    .footerContainer {
        height: 400px;
        display: flex;
        justify-content: center;
        margin-top: 50px;
        .columnContainer {
            padding: 10px;
            display: flex;
            .column {
                width: 333px;
                height: 300px;
                .columnList {
                    li {
                    list-style-type: none;
                    margin-top: 30px;
                    }
                }
            }
        }
    }
}
