@import "/styles/_variables.scss";
@import "./styles/_breakpoints.scss";

.content {
    width: 550px;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    @include max-sm {
        width: 320px;
        height: auto;
    }
    .heading {
        font-size: 28px;
        @include max-sm {
            font-size: 20px;
            line-height: 30px;
        }
    }
    .descritpionTitle {
        margin-bottom: 20px;
        font-weight: $font-weight-bold;
        font-size: 20px;
        @include max-sm {
            font-size: 15px;
        }
    }
    .desciption {
        margin-top: 40px;
        text-align: unset;
        @include max-sm {
            width: 300px;
            .advantagesItem {
                list-style-type: none;
                background-color: rgb(228, 243, 255);
                border-radius: 9px;
                color: $color-black;
                padding: 15px;
                margin-top: 10px;
            }
        }
    }
}
