@import '/styles/_variables.scss';

.logo {
    display: flex;
    align-items: center;
    gap:30px;
    .companyName {
        position: relative;
        top:5px;
        display: flex;
        flex-direction: column;
    }
    .companyName::after {
        position: relative;
        top:-10px;
        content: 'Małgorzata Langowska';
        font-size:13px;
    }
}