@import "styles/variables.scss";
@import "styles/breakpoints";

.slider {
    position: relative;
    height: 100vh;
    scroll-margin-top: 140px;
    width: 100%;
    margin: 100px 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    .sectionHeading {
        font-size: 60px;
        font-weight: 800;
        @include max-lg {
            font-size: 40px;
        }
    }
    @include max-lg {
        margin-top: 0;
        gap: 30px;
        width: 720px;
        height: 50vh;
        flex-direction: column;
        @include max-sm {
            margin: 0;
            gap: 30px;
            width: 320px;
            height: 50vh;
            flex-direction: column;
        }
    }

    .image {
        border-radius: 10px;
    }
    .arrowBox {
        display: flex;
        width: 200px;
        justify-content: space-around;
        .arrow {
            cursor: pointer;
        }
        .rightArrow {
            rotate: 180deg;
        }
    }

    .slide {
        opacity: 0;
        transition-duration: 1s ease;
    }

    .slide.active {
        opacity: 1;
        transition-duration: 1s;
        transform: scale(1.08);
    }
}
