@import "../../../styles/breakpoints";

.container {
    margin: 100px 0 150px 0;
    .map {
        border: 0;
        @include max-lg {
            width: 300px;
            height: 300px;
        }
    }
}
