@import "/styles/_variables.scss";
@import "./styles/_breakpoints.scss";

.wrapper {
    width: 100%;
    height: fit-content;
    padding: 20px;
    background: #e2e6ec;
    transition: 0.3s;
    border-radius: 10px;
    .message {
        padding: 10px;
    }
}
.wrapper:hover {
    cursor: pointer;
    background: #cacfd6;
}
