@import "/styles/_variables.scss";

.button {
    display: flex;
    align-items: center;
    font-family: $font-main;
    font-stretch: normal;
    text-align: center;
    height: 48px;
    cursor: pointer;
    font-weight: $font-weight-main;
    letter-spacing: 0.3px;
    font-style: $font-style;
    font-size: $font-size-body;
    padding: $padding-button;
    border: 0;
    line-height: 24px;
    transition: 0.4s;
    .btnChildren {
        margin: 0 auto;
    }
}

.small {
    height: 36px;
    font-size: 14px;
}

.big {
    height: 56px;
    font-size: 18px;
}

.buttonDefault__Primary {
    background: $button-primary-bg-color;
    color: $color-white;
    border-radius: $border-radius-primary;

    &:hover {
        background: $button-primary-bg-color-hover;
    }

    &:active {
        outline: 1px solid $color-white;
    }
}

.buttonDefault__Secondary {
    background: $button-secondary-bg-color;
    color: $color-white;
    border-radius: $border-radius-primary;

    &:active {
        outline: 1px solid $color-white;
    }
}

.buttonDefault__Tertiary {
    background: transparent;
    color: $color-black;
    border: 0;
    height: 35px;
    width: 110px;
    font-weight: $font-weight-bold;

    &:hover {
        color: $color-white;
        border-radius: 10px;
        background: $button-primary-bg-color-hover;
    }
    &:active {
        color: $color-black;
        background: transparent;
    }
}
