@import "/styles/_variables.scss";
@import "./styles/_breakpoints.scss";

.content {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include max-sm {
        width: auto;
        .image {
            width: 200px;
            height: 200px;
        }
    }
    .contentText {
        margin-top: 20px;
        font-size: 15px;
    }
    .socialMediaIcon {
        margin-top: 25px;
        padding: 5px;
        @include max-sm {
            display: flex;
            justify-content: space-around;
        }
    }
}
