@import "/styles/_variables.scss";
@import "./styles/_breakpoints.scss";

.wrapper {
    width: 100%;
    .heading {
        background: $color-ligth-gray-heading;
        border-radius: 15px;
        padding: 20px;
    }
}
