@import "/styles/_variables.scss";
@import "./styles/_breakpoints.scss";

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 100px;
    flex-direction: column;

    .form {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        padding: 30px;
        gap: 10px;
        height: fit-content;
        background-color: $color-white;
        box-shadow: 0px 10px 20px -9px rgba(91, 97, 160, 1);
        border-radius: 30px;
    }
    .formButtonBox {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
        .submitButton {
            width: fit-content;
        }
    }

    .loginError {
        padding: 5px;
        margin-top: 10px;
        color: red;
        text-align: center;
        font-size: 15px;
    }
    .backToHomepageBtn {
        a {
            color: $color-black;
            border-bottom: 1px solid black;
        }
    }
}
