@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");

//colors
$color-white: #ffffff;
$color-blue: #4a88f7;
$color-black: #000;
$color-gray: #575757;
$color-ligth-gray-heading: #eaeff6;
$color-light-blue: #ebf6ff;
$color-menu-box-shadow: #d5f7ff;
$color-red: #e4012e;
$color-post-box: whitesmoke;

//heading
$color-heading-dark-blue: #04028a;

//borders
$border-radius-primary: 25px;

// buttons
$padding-button: 14px 28px; // button-default
$button-primary-bg-color: #e9612c;
$button-secondary-bg-color: #f6bf44;
$button-primary-bg-color-hover: #e7551b;

//font-spec
$font-main: "Montserrat";
$font-style: normal;
$font-size-body: 16px;
$font-size-heading: 32px;
$font-weight-light: 300;
$font-weight-main: 400;
$font-weight-bold: 600;

$page-max-width: 1200px;
