@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

//colors
$color-white: #ffffff;
$color-blue: #4A88F7;
$color-black: #000;


//heading 
$color-heading-dark-blue: #0c0b6e;

//borders
$border-radius-primary: 25px;

// buttons
$padding-button: 14px 28px; // button-default
$button-primary-bg-color: #E9612C;
$button-secondary-bg-color: #F6BF44;
$button-primary-bg-color-hover: #e7551b;


//font-spec
$font-main:'Montserrat';
$font-style:normal;
$font-size-body:16px;
$font-size-heading:32px;
$font-weight-light:300;
$font-weight-main:400;
$font-weight-bold:600;