@import "/styles/_variables.scss";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    scroll-behavior: smooth !important;
    font-family: $font-main;
    color: $color-light-black;
}

a {
    text-decoration: none;
}

a:link {
    color: $color-white;
}
a:visited {
    color: $color-black;
}
