@import "/styles/_variables.scss";
@import "./styles/_breakpoints.scss";

.wrapper {
    display: flex;
    justify-content: center;
    max-width: $page-max-width;
    height: 80vh;
    gap: 100px;
}
