@import "/styles/_variables.scss";
@import "./styles/_breakpoints.scss";

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: $page-max-width;
    height: 100vh;
    gap: 100px;
    .content {
        width: 550px;
        height: 600px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        .descritpionTitle {
            margin-bottom: 20px;
            font-weight: $font-weight-bold;
            font-size: 20px;
        }
        .desciption {
            margin-top: 80px;
            text-align: justify;
        }
    }
}
