@import "/styles/_variables.scss";
@import "./styles/_breakpoints.scss";

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: $page-max-width;
    height: 100vh;
    gap: 100px;
}
