@import "/styles/_variables.scss";
@import "./styles/_breakpoints.scss";

.wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    top: 100px;
    scroll-margin-top: 130px;
    max-width: $page-max-width;
    height: 100vh;
    gap: 100px;
    @include lg {
        flex-direction: column;
        top: 0;
        height: fit-content;
    }
    @include max-sm {
        align-items: center;
    }
    .image {
        margin-top: 100px;
        @include lg {
            display: flex;
            justify-content: center;
            margin: -50px 0 100px;
        }
        img {
            width: 290px !important;
            height: 290px !important;
        }
    }
}
